.idea
.idea/HWR.iml
.idea/misc.xml
lectures
data/Train/annotated_crops/128_extended/*
data/Train/annotated_crops/128_over_99
data/Train/annotated_crops/128_over_9
data/Train/annotated_crops/128_times_10
data/Chinese*